@{
    ViewData["Title"] = "Fantasy Trade Suggestor";
}

<h1>Fantasy Baseball Trade Suggestions</h1>
<section>
    <label for="#teamUrl">Your ESPN team URL  (example: <code>http://games.espn.go.com/flb/clubhouse?leagueId=87654&teamId=11&seasonId=2016)</code></label>
    <input id="teamUrl" name="teamUrl" type="text" 
        value="http://games.espn.go.com/flb/clubhouse?leagueId=90218&teamId=11&seasonId=2016"
    >
    <button id="submit" type="submit">Find Trades</button>
    <div id="debug">
        <pre id="rawResults"/>
    </div>
</section>