################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/FantasyTrades/bin/Debug/netcoreapp1.0
/src/FantasyTrades/obj/Debug/netcoreapp1.0
